* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* html default is 16px */
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting  */
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1;
}

.qr-section {
  display: flex;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  margin:12.8rem auto;
  padding: 9.6rem;
  max-width: 90%;
  max-height: 70%;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 2.4rem ;
  max-width: 29rem;
  background-color: #fff;
  border-radius: .9rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.09);
}

.qr-code-img {
  width: 100%;
  border-radius: .9rem;
  margin-bottom: 2.4rem;
}

.qr-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2.4rem;
  color: hsl(218, 44%, 22%);
}

.qr-description {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 2.4rem;
  color: hsl(220, 15%, 55%);
}


@media (max-width: 28em) {
  .qr-section {
    padding: 6.4rem 2.4rem;
  }

  .qr {
    padding: 1.2rem 1.6rem;
  }

}

@media (max-width: 32.5em) {
  .qr-heading {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }
}

